**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [43]:
import pandas as pd
data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5,None, 6, 3, 5.5,None , 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(data,labels)

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [44]:
print(df)

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**3. Print the first 2 rows of the birds dataframe **

In [45]:
print(df[:2])

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [46]:
print(df[['birds','age']])

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [47]:
print(df['birds'].iloc[2], df['age'].iloc[2],df['visits'].iloc[2])
print(df['birds'].iloc[3], df['age'].iloc[3],df['visits'].iloc[3])
print(df['birds'].iloc[7], df['age'].iloc[7],df['visits'].iloc[7])

plovers 1.5 3
spoonbills nan 4
Cranes nan 2

**6. select the rows where the number of visits is less than 4**

In [49]:
print(df[df['visits']<4])

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [50]:
print(df[['birds','visits']][df['age'].isnull()])

        birds  visits
d  spoonbills       4
h      Cranes       2

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [51]:
print(df[df['birds']=='Cranes'][df['age']<4])

    birds  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

C:\Users\Shubham Kumar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

**9. Select the rows the age is between 2 and 4(inclusive)**

In [52]:
print(df[df['age']>=2][df['age']<=4])

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

C:\Users\Shubham Kumar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

**10. Find the total number of visits of the bird Cranes**

In [53]:
x=list(df['visits'][df['birds']=='Cranes'])
print(sum(x))

12

**11. Calculate the mean age for each different birds in dataframe.**

In [11]:
x=df[['age']][df['birds']=='Cranes'].mean()
y=df[['age']][df['birds']=='spoonbills'].mean()
z=df[['age']][df['birds']=='plovers'].mean()
print("Cranes " +str(x))
print("spoonbills " +str(y))
print("plovers " +str(z))

Cranes age    3.5
dtype: float64
spoonbills age    6.0
dtype: float64
plovers age    3.5
dtype: float64

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [55]:
l=['sparrow',4,3,'no']
df.loc['k']=l
print(df)
df.drop('k')
print("-------------------------------------------------")
print(df)

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no
k     sparrow  4.0       3       no
-------------------------------------------------
        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no
k     sparrow  4.0       3       no

**13. Find the number of each type of birds in dataframe (Counts)**

In [56]:
bird=list(df.birds)
count=0
count1=0
count2=0
x=len(bird)
for i in range(x):
    if(bird[i]=='Cranes'):
        count=count+1
    elif(bird[i]=='plovers'):
        count1=count1+1
    else:
        count2=count2+1
print("Cranes "+ str(count))
print("plovers "+ str(count1))
print("spoonbills "+ str(count2))

Cranes 4
plovers 2
spoonbills 5

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [57]:
print(df.sort_values('age',axis=0,ascending=False))
print("_________________________________________")
print(df.sort_values('visits',axis=0,ascending=True))

        birds  age  visits priority
i  spoonbills  8.0       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
b      Cranes  4.0       4      yes
j  spoonbills  4.0       2       no
k     sparrow  4.0       3       no
a      Cranes  3.5       2      yes
f      Cranes  3.0       4       no
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
h      Cranes  NaN       2      yes
_________________________________________
        birds  age  visits priority
a      Cranes  3.5       2      yes
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
j  spoonbills  4.0       2       no
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
i  spoonbills  8.0       3       no
k     sparrow  4.0       3       no
b      Cranes  4.0       4      yes
d  spoonbills  NaN       4      yes
f      Cranes  3.0       4       no

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [58]:
dir(df)
df=df.replace('yes',1)
df=df.replace('no',0)
print(df)

        birds  age  visits  priority
a      Cranes  3.5       2         1
b      Cranes  4.0       4         1
c     plovers  1.5       3         0
d  spoonbills  NaN       4         1
e  spoonbills  6.0       3         0
f      Cranes  3.0       4         0
g     plovers  5.5       2         0
h      Cranes  NaN       2         1
i  spoonbills  8.0       3         0
j  spoonbills  4.0       2         0
k     sparrow  4.0       3         0

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [59]:
df=df.replace('Cranes','trumpeters')
print(df)

        birds  age  visits  priority
a  trumpeters  3.5       2         1
b  trumpeters  4.0       4         1
c     plovers  1.5       3         0
d  spoonbills  NaN       4         1
e  spoonbills  6.0       3         0
f  trumpeters  3.0       4         0
g     plovers  5.5       2         0
h  trumpeters  NaN       2         1
i  spoonbills  8.0       3         0
j  spoonbills  4.0       2         0
k     sparrow  4.0       3         0